/* Public Forms */

.public-form,
.login-form {
  width: 35em;
}
.form {
  margin: 1em 0;
  padding: 0.5em 0.5em 0em;
  border: 1px solid #808080;
}
.form-element {
  clear: both;
}
.form-title {
  height: 1.6em;
  font-size: 15px;
  font-weight: bold;
}
.form-label {
  float: left;
  width: 7em;
  height: 2em;
}
.form-label label {
  display: block;
  margin: 0.2em 0 0;
  font-weight: normal;
}
.form-field {
  height: 2.2em;
}
.form-field input[type="text"],
.form-field input[type="password"],
.form-field input[type="email"],
.form-field textarea {
  float: right;
  width: 22em;
  padding: 2px;
}
.form-field textarea {
  height: 3.5em;
}
.form-actions .submit {
  float: right;
  padding: 0.1em 1.5em;
  font-weight: bold;
  margin-left: 0.4em;
}
.form-actions .cancel {
  padding: 0.1em 1.5em;
}
.form-error,
.field-error {
color: red;
font-weight: bold;
}
.field-captcha-wrapper {
width: 22em;
float: right;
}
